
@{
    ViewBag.Title = "View Employee Summary";
}

<div class="col-md-12 title fs70">
    VIEW EMPLOYEE SUMMARY
</div>
<div class="body-content">
    <div class="col-md-4 left-container no-padding">
        <div class="margin-top-default"></div>
        <div class="col-md-12 margin-top-lg">
            <div class="margin-bottom-sm">
                Employee Name
            </div>
            <div class="fs36 ff-nt2">
                MARK LAWRENCE MACUTAY
            </div>
            <hr class="border-bottom-orange" />
        </div>
        <div class="col-md-12 margin-top-default flex flex-center">
            <div class="col-md-5 no-padding ff-nt2">
                POSITION:
            </div>
            <div class="col-md-7 no-padding">
                MR Engineer
            </div>
        </div>
        <div class="col-md-12 margin-top-sm flex flex-center">
            <div class="col-md-5 no-padding ff-nt2">
                PROJECT:
            </div>
            <div class="col-md-7 no-padding">
                Frabelle de Salcedo
            </div>
        </div>
        <div class="col-md-12 margin-top-default flex flex-center">
            <div class="col-md-5 no-padding ff-nt2">
                IMMEDIATE SUPERVISOR
            </div>
            <div class="col-md-7 no-padding">
                Boyett Delos Santos
            </div>
        </div>
        
        <div class="col-md-12 margin-top-lg"></div>
        <div class="col-md-12 no-padding-right margin-top-default">
            <a class="button-left text-left block">
                <span class="fs26">OVERTIME</span>
                <div class="badge badge-circle fs13 bg-blue003 pull-right">
                    <div>1</div>
                </div>
            </a>
        </div>
        <div class="col-md-12 no-padding-right margin-top-default">
            <a class="button-left text-left block">
                <span class="fs26">OFFICIAL BUSINESS</span>
                <div class="badge badge-circle fs13 bg-blue003 pull-right">
                    <div>2</div>
                </div>
            </a>
        </div>
        <div class="col-md-12 no-padding-right margin-top-default">
            <a class="button-left text-left block selected">
                <span class="fs26">LEAVE</span>
            </a>
        </div>
        <div class="col-md-12 no-padding-right margin-top-default">
            <a class="button-left text-left block">
                <span class="fs26">CHANGE OF SHIFTS</span>
            </a>
        </div>
        <div class="col-md-12 no-padding-right margin-top-default">
            <a class="button-left text-left block">
                <span class="fs26">ADJUSTMENTS</span>
            </a>
        </div>
    </div>
    <div class="col-md-8 no-padding">
        <div class="col-md-12">
            <div class="col-md-12 margin-top-lg border-bottom-orange fs20 ff-nt2">
                <div class="col-md-2 no-padding-left">DATE NEEDED</div>
                <div class="col-md-3">CONTACT PERSON</div>
                <div class="col-md-3">REASON</div>
                <div class="col-md-2">DATE FILED</div>
                <div class="col-md-2 no-padding-right">ACTIONS</div>
                <div class="col-md-12 margin-top-default"></div>
            </div>
            <div class="col-md-12 margin-top-default margin-bottom-default fs15 flex flex-center">
                <div class="col-md-2 no-padding-left"><div>03/08/17</div></div>
                <div class="col-md-3">ENGR. BONG</div>
                <div class="col-md-3">FAMILY REUNION</div>
                <div class="col-md-2">04/18/17</div>
                <div class="col-md-2 no-padding-right flex">
                    <span class="glyphicon glyphicon-ok-circle text-green001 fs20 margin-left-default"></span><span class="glyphicon glyphicon-remove-circle text-gray003 fs20 margin-left-default"></span>
                </div>
            </div>
            <div class="col-md-12 border-bottom-gray"></div>
            <div class="col-md-12 margin-top-default margin-bottom-default fs15 flex flex-center">
                <div class="col-md-2 no-padding-left"><div>03/08/17</div></div>
                <div class="col-md-3">ENGR. BONG</div>
                <div class="col-md-3">FAMILY REUNION</div>
                <div class="col-md-2">04/18/17</div>
                <div class="col-md-2 no-padding-right flex">
                    <span class="glyphicon glyphicon-ok-circle text-gray003 fs20 margin-left-default"></span><span class="glyphicon glyphicon-remove-circle text-pink001 fs20 margin-left-default"></span>
                </div>
            </div>

            <div class="col-md-6 no-padding pull-right margin-top-lg">
                <div class="col-md-5 no-padding-right pull-right">
                    <button class="h38 fs20 button-default block">CLEAR</button>
                </div>
                <div class="col-md-5 no-padding-left pull-right">
                    <button class="h38 fs20 button-default block">SUBMIT</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 no-padding-left">
            <div class="col-md-12 no-padding margin-top-lg text-center">
                <div class="col-md-3"></div>
                <div class="col-md-1 no-padding"></div>
                <div class="col-md-1 no-padding fs17 ff-nt2">SUN</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">MON</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">TUES</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">WED</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">THUR</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">FRI</div>
                <div class="col-md-1 no-padding fs17 ff-nt2">SAT</div>
                <div class="col-md-1 no-padding"></div>
            </div>

            <div class="col-md-12 no-padding margin-top-default text-center text-white h64">
                <div class="col-md-3 no-padding fs20 ff-nt2">
                    <div class="col-md-10 no-padding h64 bg-blue003 flex flex-center flex-space-around border-radius-right-default">
                        <span>EMPLOYEE</span>
                    </div>
                </div>
                <div class="col-md-1 no-padding h64 bg-blue002 flex flex-center flex-space-around border-radius-left-default">
                    <div class="badge badge-circle badge-button bg-orange001">
                        <div class="glyphicon glyphicon-chevron-left fs12"></div>
                    </div>
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue002 flex flex-center flex-space-around">
                    AUG 01
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue006 flex flex-center flex-space-around">
                    AUG 07
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue002 flex flex-center flex-space-around">
                    AUG 08
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue006 flex flex-center flex-space-around">
                    AUG 09
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue002 flex flex-center flex-space-around">
                    AUG 10
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue006 flex flex-center flex-space-around">
                    AUG 11
                </div>
                <div class="col-md-1 no-padding h64 fs13 ff-nt2 bg-blue002 flex flex-center flex-space-around">
                    AUG 12
                </div>
                <div class="col-md-1 no-padding h64 bg-blue002 flex flex-center flex-space-around border-radius-right-default">
                    <div class="badge badge-circle badge-button bg-orange001">
                        <div class="glyphicon glyphicon-chevron-right fs12"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 no-padding employee-table-body">
                <div class="col-md-12 no-padding employee-table-border">
                    <div class="col-md-4"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                    <div class="col-md-1 employee-table-border-column"></div>
                </div>

                <div class="col-md-12 margin-top-default"></div>

                <div class="col-md-12 no-padding margin-top-sm margin-bottom-sm">
                    <div class="col-md-3 no-padding-right">
                        <div class="col-md-12 fs20 ff-nt2 h55 bg-gray006 flex flex-center">
                            <span>JOHN DOE</span>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                        <div class="line-blue003 border-radius-left-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                        <div class="line-blue003"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                        <div class="line-blue003 border-radius-right-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                </div>

                <div class="col-md-12 no-padding margin-top-sm margin-bottom-sm">
                    <div class="col-md-3 no-padding-right">
                        <div class="col-md-12 fs20 ff-nt2 h55 bg-white flex flex-center">
                            <span>JANE DOE</span>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                        <div class="line-blue003 border-radius-left-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                        <div class="line-blue003 border-radius-right-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                </div>

                <div class="col-md-12 no-padding margin-top-sm margin-bottom-sm">
                    <div class="col-md-3 no-padding-right">
                        <div class="col-md-12 fs20 ff-nt2 h55 bg-gray006 flex flex-center">
                            <span>JOHN DOE</span>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">
                        <div class="line-blue003 border-radius-left-default border-radius-right-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-gray006 flex flex-center">

                    </div>
                </div>

                <div class="col-md-12 no-padding margin-top-sm margin-bottom-sm">
                    <div class="col-md-3 no-padding-right">
                        <div class="col-md-12 fs20 ff-nt2 h55 bg-white flex flex-center">
                            <span>JANE DOE</span>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                        <div class="line-blue003 border-radius-left-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">
                        <div class="line-blue003 border-radius-right-default"></div>
                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                    <div class="col-md-1 no-padding h55 bg-white flex flex-center">

                    </div>
                </div>
                <div class="col-md-12 margin-top-default"></div>
            </div>
            @*<div class="col-md-12 no-padding margin-top-default">
                <div class="col-md-2 no-padding">EMPLOYEE</div>
                <div class="col-md-10 no-padding">
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 no-padding">
                            <div class="badge badge-circle bg-orange001">
                                <div class="glyphicon glyphicon-chevron-left fs12"></div>
                            </div>
                        </div>
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 01</div>
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 07</div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 08</div>
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 09</div>
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 10</div>
                    </div>
                    <div class="col-md-4 no-padding">
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 11</div>
                        <div class="col-md-4 no-padding fs17 ff-nt2">AUG 12</div>
                        <div class="col-md-4 no-padding">
                            <div class="badge badge-circle bg-orange001">
                                <div class="glyphicon glyphicon-chevron-right fs12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>


<script>
    $(document).on('click', '.button-left', function () {
        if (!$(this).hasClass("selected")) {
            $('.button-left').removeClass('selected');
            $(this).addClass('selected');
        }
    });
</script>