<div class="accrued-ot col-md-6 no-padding d-widg margin-bottom-lg" data-id="accrued-overtime">
    <div class="col-md-12">
        <div class="accrued-ot-header">
            ACCRUED OVERTIME FOR TIME PERIOD
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="accrued-ot-body">
            <div class="col-md-6">
                <div class="accrued-ot-amount">
                    <div class="accrued-ot-hour">12</div>
                    <div class="accrued-ot-minute">25</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accrued-ot-date">
                    JUNE 26<br>TO 30, 2017
                </div>
                <span class="accrued-ot-more-info">
                    VIEW MORE INFO
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    Description.....
</div>
