<div class="col-md-3 d-widg margin-bottom-lg" data-id="activity-feeds">
    <div class="activity-feed">
        <div class="activity-feed-header"> YOUR ACTIVITY FEED</div>
        <div class="activity-feed-body ps" id="activity-feed-body">
            <div class="activity-feed-item">
                <div>
                    <div class="activity-feed-message">
                        15:05 has been approved
                    </div>
                    <span class="activity-feed-more">
                        VIEW MORE
                    </span>
                </div>
                <div class="glyphicon glyphicon-ok-circle text-green001 fs26"></div>
            </div>
            <div class="activity-feed-item">
                <div>
                    <div class="activity-feed-message">
                        Filed overtime from June 13
                    </div>
                    <span class="activity-feed-more">
                        VIEW MORE
                    </span>
                </div>
                <div class="glyphicon glyphicon-time text-blue003 fs26"></div>
            </div>
            <div class="activity-feed-item">
                <div>
                    <div class="activity-feed-message">
                        15:05 has been approved
                    </div>
                    <span class="activity-feed-more">
                        VIEW MORE
                    </span>
                </div>
                <div class="glyphicon glyphicon-ok-circle text-green001 fs26"></div>
            </div>
            <div class="activity-feed-item">
                <div>
                    <div class="activity-feed-message">
                        Filed overtime from June 13
                    </div>
                    <span class="activity-feed-more">
                        VIEW MORE
                    </span>
                </div>
                <div class="glyphicon glyphicon-time text-blue003 fs26"></div>
            </div>
            <div class="activity-feed-item">
                <div>
                    <div class="activity-feed-message">
                        15:05 has been approved
                    </div>
                    <span class="activity-feed-more">
                        VIEW MORE
                    </span>
                </div>
                <div class="glyphicon glyphicon-ok-circle text-green001 fs26"></div>
            </div>
            <div class="ps__rail-x" style="left: 0px; bottom: 8px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 1px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
        </div>
    </div>
</div>
<div class="col-md-8">
    Description.....
</div>