<div class="col-md-4 d-widg margin-bottom-lg" data-id="company-news">
    <div class="company-news disable-select">
        <div class="company-news-header">
            COMPANY NEWS
        </div>
        <div class="company-news-body animation-fade" style="display: none;">
            <div class="company-news-image">
                <img src="/images/company_news2.jpg">
            </div>
            <div>
                <div class="company-news-message">
                    LIST OF 2017 PHILIPPINE HOLIDAYS!
                </div>
                <div class="company-news-date">
                    12/31/16
                </div>
                <div class="company-news-more">
                    <a>VIEW MORE</a>
                </div>
            </div>
        </div>
        <div class="company-news-body animation-fade" style="display: none;">
            <div class="company-news-image">
                <img src="/images/company_news3.jpg">
            </div>
            <div>
                <div class="company-news-message">
                    FREE PHONES TO EMPLOYEES! CLAIM YOURS NOW!
                </div>
                <div class="company-news-date">
                    01/01/17
                </div>
                <div class="company-news-more">
                    <a>VIEW MORE</a>
                </div>
            </div>
        </div>
        <div class="company-news-body animation-fade" style="display: flex;">
            <div class="company-news-image">
                <img src="/images/company_news.png">
            </div>
            <div>
                <div class="company-news-message">
                    NEW OFFICES<br>WILL BE ANNOUNCED!
                </div>
                <div class="company-news-date">
                    01/05/17
                </div>
                <div class="company-news-more">
                    <a>VIEW MORE</a>
                </div>
            </div>
        </div>
        <span class="company-news-left-button glyphicon glyphicon-chevron-left"></span>
        <span class="company-news-right-button glyphicon glyphicon-chevron-right hidden"></span>
    </div>
</div>
<div class="col-md-8">
    Description.....
</div>