<div class="col-md-4 d-widg margin-bottom-lg" data-id="weather">
    <div class="weather">
        <div class="col-md-4 no-padding">
            <div class="weather-icon"></div>
        </div>
        <div class=" col-md-8 text-center">
            <div class="col-md-12 no-padding fs20 ff-nt2">TODAY'S WEATHER</div>
            <div class="col-md-12 no-padding margin-top-sm border-bottom-gray"></div>
            <div class="col-md-7 no-padding margin-top-sm">
                <div class="col-md-12 no-padding ff-nt2">PARTLY CLOUDY</div>
                <div class="col-md-12 no-padding">High: 11° Low: 5°</div>
                <div class="col-md-12 no-padding">Wind: E 11.27 km/h</div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 no-padding text-blue003 fs50 ff-nt2">9°</div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    Description.....
</div>
