$blue001: #092644;
$blue002: #0e3659;
$blue003: #18b5c8;
$blue004: #2b76c9;
$blue005: #2f76c8;
$blue006: #03507c;

$orange001: #f5a81c;
$orange002: #f5a623;


$gray001: #e8e8e8;
$gray002: #e1e1e1;
$gray003: #808080;
$gray004: #d5d5d5;
$gray005: #cccccc;
$gray006: #ebebeb;

$pink001: #e94f69;


$green001: #469546;
$green002: #439445;