@font-face {
font-family: "Neutra Text 1";
src: url("../../fonts/NeutraText-DemiItalicAlt.otf") format("opentype");
}

@font-face {
font-family: "Neutra Text 2";
src: url("../../fonts/Neutra Text Demi Alt.otf") format("opentype");
}

.fs12 {
    font-size: 12px;
    font-size: .86em;
    font-weight: 600;
}

.fs13 {
    font-size: 13px;
    font-size: .93em;
    font-weight: 600;
}

.fs15 {
    font-size: 15px;
    font-size: 1.07em;
    font-weight: 600;
}

.fs16 {
    font-size: 16px;
    font-size: 1.14em;
    font-weight: 600;
}

.fs17 {
    font-size: 17px;
    font-size: 1.2em;
    font-weight: 700;
}

.fs20 {
    font-size: 20px;
    font-size: 1.43em;
    font-weight: 700;
}

.fs26{
    font-size: 26px;
    font-size: 1.88em;
}

.fs32 {
    font-size: 32px;
    font-size: 2.3em;
}

.fs33 {
    font-size: 33px;
    font-size: 2.37em;
}

.fs34 {
    font-size: 34px;
    font-size: 2.44em;
}

.fs35 {
    font-size: 35px;
    font-size: 2.52em;
}

.fs36 {
    font-size: 36px;
    font-size: 2.6em;
}

.fs40 {
    font-size: 40px;
    font-size: 2.9em;
}

.fs50 {
    font-size: 50px;
    font-size: 3.6em;
}

.fs70 {
    font-size: 70px;
    font-size: 5.06em;
}

.ff-nt1 {
    font-family: "Neutra Text 1";
}

.ff-nt2 {
    font-family: "Neutra Text 2";
}