<button id="moduleAdd" class="bg-green002 buttonLink margin-right-default"><span data-toggle="tooltip" title="Add" data-placement="bottom" class="fs17 glyphicon glyphicon-plus text-white" /></button>
<button id="moduleEdit" class="bg-orange001 buttonLink margin-right-default"><span data-toggle="tooltip" title="Edit" data-placement="bottom" class="fs17 glyphicon glyphicon-edit text-white" /></button>
<button id="moduleView" class="bg-blue006 buttonLink"><span data-toggle="tooltip" title="View" data-placement="bottom" class="fs17 glyphicon glyphicon-search text-white" /></button>
