<div class="col-md-4 d-widg margin-bottom-lg" data-id="announcements">
    <div class="announcement disable-select">
        <div class="announcement-header">
            ANNOUNCEMENTS
        </div>
        <div class="announcement-body animation-fade" style="display: none;">
            <div class="announcement-image">
                <img src="/images/announcement2.jpg">
            </div>
            <div class=" announcement-message">
                13TH MONTH PAY RELEASED
            </div>
        </div>
        <div class="announcement-footer" style="display: none;">
            12/23/2016
        </div>
        <div class="announcement-body animation-fade" style="display: flex;">
            <div class="announcement-image">
                <img src="/images/announcement.png">
            </div>
            <div class=" announcement-message">
                ALL EMPLOYEES HANDS ON DECK
            </div>
        </div>
        <div class="announcement-footer" style="display: flex;">
            01/05/2017
        </div>
        <span class="announcement-left-button glyphicon glyphicon-chevron-left"></span>
        <span class="announcement-right-button glyphicon glyphicon-chevron-right hidden"></span>
    </div>
</div>