<div class="col-md-4 d-widg margin-bottom-lg" data-id="quote">
    <div class="quote">
        <span class="quote-left-button glyphicon glyphicon-chevron-left"></span>
        <span class="quote-right-button glyphicon glyphicon-chevron-right"></span>
        <div class="quote-header">
            QUOTE OF THE DAY!
        </div>
        <div class="quote-message">
            <img src="/images/quote.png">
        </div>
    </div>
</div>