<div class="col-md-3 d-widg margin-bottom-lg" data-id="todays-login">
    <div class="log-in bg-blue003 disable-select">
        <div class="log-in-item">
            <div class="log-in-header">
                TODAY'S LOG IN
            </div>
            <div class="log-in-body">
                <div class="log-in-time">
                    <div class="log-in-hour">12</div>
                    <div class="log-in-minute">00</div>
                </div>
            </div>
        </div>
    </div>
</div>