<div class="col-md-3 d-widg margin-bottom-lg" data-id="yesterdays-login">
    <div class="log-in log-in-slides bg-green002 disable-select">
        <div class="log-in-item" style="right: 200%; transition: 0.7s;">
            <div class="log-in-header">
                TEST
            </div>
            <div class="log-in-body">
                <div class="log-in-time">
                    <div class="log-in-hour">11</div>
                    <div class="log-in-minute">32</div>
                </div>
            </div>
        </div>
        <div class="log-in-item" style="right: 200%; transition: 0.7s;">
            <div class="log-in-header">
                TEST1
            </div>
            <div class="log-in-body">
                <div class="log-in-time">
                    <div class="log-in-hour">08</div>
                    <div class="log-in-minute">00</div>
                </div>
            </div>
        </div>
        <div class="log-in-item" style="right: 200%; transition: 0.7s;">
            <div class="log-in-header">
                YESTERDAY'S LOG IN
            </div>
            <div class="log-in-body">
                <div class="log-in-time">
                    <div class="log-in-hour">12</div>
                    <div class="log-in-minute">00</div>
                </div>
            </div>
        </div>
        <span class="log-in-left-button glyphicon glyphicon-chevron-left"></span>
        <span class="log-in-right-button glyphicon glyphicon-chevron-right hidden"></span>
    </div>
</div>