@using HRIS_UIRevamp_v2.ViewModel
@model AddressIndexViewModel
@{
    ViewBag.Title = "Address";
}

<div class="col-md-12 title">
    ADDRESS
</div>


<div class="body-content">
    <div class="col-md-12 margin-top-default defaultHeight">
       
    </div>
</div>